h1,h2,h3,h4,h5,h6,p,a,li,div {
    font-family: 'Open Sans', sans-serif;
}

a {
    float: left;
}

ul {
    list-style-type: none;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font: bold;
}

.blog-container { 
    margin-left: 250px;
    margin-right: 250px;
}

.column {
    float: left;
}

.left-25, .right-25 {
    width: 25%;
}

.left-100, .right-100 {
    width: 100%;
}

.middle-50 {
    width: 50%;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

#outer { 
    display: flex; 
    flex-direction: column; 
    flex-wrap: wrap; 
    height: 120px; 
    width: 800px; 
} 

.hr-blue {
    color: dodgerblue;
}

.hr-green {
    color: lightgreen
}

.demo-nav {
    margin: auto;
    max-width: 800px;
    margin-bottom: 50px;
}

.call-to-action {
    text-align: left; 
}

.call-to-action-img {
    margin-top: 20px;
    height: 100%;
    width: 100%;
    object-fit: contain;

}

.row-spacing {
    margin-top: 50px;
}

.title {
    text-decoration: none;
    color: black;
}

.publish-update {
    color:blue;
    font:bold;
}


/* Responsive layout */

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}